<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
<p>
  <a href="/">Home</a> |
  <a href="/auth/login">Log In</a>
  <a href="/auth/users">users</a>
</p>
<%-body -%>
</body>
</html>
