<!DOCTYPE html>
<html>
<head>
  <title>title</title>
</head>
<body>
<p>
  <a href="/">Home</a> |
  <a href="/auth/login">Log In</a>
  <a href="/user/users">users</a>
</p>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<%-body -%>
</body>
</html>
